
<app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal>






  <br>
  <div>
   <h5>De acordo com um estudo publicado na revista “Medicine In Science Sports & Exercise”, a corrida pode diminuir os riscos de doenças
   e melhorar até aspectos emocionais, aumentando a longevidade do atleta. A pesquisa científica prova que a prática de exercício regular 
   (150 minutos por semana, o que equivale a 30 minutos 5 vezes por semana) traz inúmeros benefícios para saúde. Estudos mostram que a 
   corrida pode ajudar a prevenir a obesidade, doenças do coração, diabetes tipo 2, derrame e até alguns tipos de câncer.
   Não importa quão bem ou mal você se sinta em qualquer momento, os exercícios vão deixar você bem melhor. E isso vai além da “barato da corrida”
   , que libera hormônios do bem-estar conhecido endocanabinóides. Uma pesquisa de 2006, publicada na Medicine & Science in Sports & Exercise, 
   mostrou que mesmo um exercício mais curto, como andar na esteira por 30 minutos, pode instantaneamente melhorar o humor de uma pessoa com depressão.
   Outro estudo publicado na mesma revista científica, em 2013, descobriu que ratos usufruem de efeitos antidepressivos correndo, e concluiu que atividade
   física é uma alternativa para o tratamento de depressão.
  
  </h5>
  </div>
   <br>
    
  

  
<app-acao
    #acao
    [tipo]="'Sobre'"
    (evento)="this.Evento($event)"
  ></app-acao>