/* Alert-Additional */

div{
    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 12px;
    
    position: relative;
    width: 80%;
    height: 70%;
    left: 10%;
    
    /* Green / 100 */
    background: #D1E7DD;
    /* Green / 200 */
    border: 1px solid #A3CFBB;
    border-radius: 8px;
    
    
    
    }