
<footer class="#bcaaa4 brown lighten-3 page-footer">

    <div is = "rodape" class="container" >
      <i class="medium material-icons">directions_run</i>
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Correr faz Bem</h5>
          <p class="grey-text text-lighten-4">Aplicativo para controle de corridas</p>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      {{year | date}} Direitos Reservados
      
      </div>
    </div>
  </footer>