<div class="container contact">
  <h5>Cadastro de Suplementos</h5>
  <h6>Dados do Suplemento</h6>
  <hr />
  <div class="row">
   
    <form class="col s12" #form="ngForm" (submit)="onSubmit()">
      <div class="input-field col s12">
        <input
          id="input-local"
          name="input-local"
          type="text"
          class="validate"
          [(ngModel)]="this.suplemento.descricao"
          pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
          #local="ngModel"
          required
        />
        <label for="input-local">Suplemento *</label>
        <div class="red-text" [hidden]="local.valid || local.untouched">
          informe a descricao do suplemento com pelo menos duas palavras, com a primeira letra de cada palavra em maiúscula  
        </div>
      </div>

      <div class="input-field col s12">
        <input
          id="input-nmcorridas"
          name="input-nmcorridas"
          type="text"
          class="validate"
          [(ngModel)]="this.suplemento.marcaId"
          pattern="(?:\.|,|[0-9])*"
          #nmcorridas="ngModel"
          required
        />
        <label for="input-nmcorridas">ID Marca *</label>
        <div class="red-text" [hidden]="nmcorridas.valid || nmcorridas.untouched">
          Informe o ID da marca do suplemento com numeros.
        </div>
      </div>

    
      

<div>
      <button
        class="btn waves-effect waves-light amber darken-4"
        type="submit"
        [disabled]="!form.valid"
      >
        Enviar
        <i class="material-icons right">send</i>
      </button>
</div>
    </form>
  </div>

  <h5 *ngIf="suplementos && suplementos.length > 0">Cadastradas</h5>
  <!-- Tabela de suplementos -->
  <table class="highlight" *ngIf="suplementos && suplementos.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descricao</th>
        <th>Marca ID</th>
        <th>Marca Nome (db.json) </th>
        
        
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of suplementos">
        <td>{{ u.id }}</td>
        <td>{{ u.descricao }}</td>
        <td>{{ u.marcaId }}</td>
        <td>{{u.descsupl}}</td>
        
        <td class="right">
          <a
            ><i class="material-icons my-icon-size" (click)="onEdit(u)"
              >edit</i
            ></a
          >
          <a
            ><i
              class="material-icons my-icon-size"
              (click)="onDelete(u.descricao,u)"
              >delete</i
            ></a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!suplementos || suplementos!.length == 0">
    <div class="row">
      <div class="center-align">
        
        <span class="col s12 flow-text"
          >Nenhum suplemento adicionado!</span
        >
      </div>
    </div>
  </div>
</div>




<app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal>


<div>
<app-acao
    #acao
    [tipo]="'Suplemento'"
    (evento)="this.Evento($event)"
  ></app-acao>
</div>